langchain
langchain-core
langchain-community
langchain-text-splitters
ollama
faiss-cpu
numpy
pandas
matplotlib
scipy
scikit-learn
tqdm
python-docx
python-dotenv
fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
requests
lxml
beautifulsoup4
